.arrow {
  font-size: 100px;
}

.button.connect {
  margin-top: $spacing;
  h3 {
    font-size: 1.3*$em;
    padding-top: 1px;
  }
  .content {
    .spacer { width: $spacing; }
  }
}

.arrow {
  margin-top: 0;
}
