#overlay {
  position: absolute;
  overflow-y: scroll;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: $overlay-height;
  background-color: transparentize($darkest-color, 0.5);
  @include opacity-transition;
}

.dialog-container {
  display: block;
  position: relative;
  top: $spacing*2;
  margin: 0 auto;
  z-index: $overlay-height + 100;
  @include opacity-transition;
}

.dialog-inner {
  padding: $spacing*1.5;
}

.dialog {
  background-color: $lightest-color;
  @include box-shadow($darkest-color $spacing/3 $spacing/3 $spacing*2);

  .close-x {
    font-size: $em*2;
    position: absolute;
    right: $spacing*4;
    top: $spacing*1.5;
    cursor: pointer;
  }
}
