<div class='inner'>
  <div class='unit-right size-1-1 t-size-1-2 d-size-1-3'>
    <div class='panel'>
      <div class='inner rounded'>
        <h3 class='inner-bottom'>About WWConnect</h3>
        <hr>
        <p>
        Women Who Connect connects technical women in their workplace. 
        We are focused of helping women find great tech jobs, and helping
        employers find great tech women.
        </p>
        <p>
        So, let's all connect and prosper.
        </p>
      </div>
    </div>
  </div>
  <div class='row spacer big t-hidden d-hidden'></div>
  <div class='unit size-1-1 t-size-1-2 d-size-2-3'>
    <div class='block inner-right'>
      <h1>Need a Job?</h1>
      <div class='row'>
        <h1 class="unit arrow primary">
          &rarr;
        </h1>
        <div class='unit spacer'></div>
        <a class='button connect unit primary' href="/auth/new?role=<%= Roles::MEMBER %>">
          <div class='block content'>
            <div class='unit spacer'></div>
            <h3 class='unit text'>Connect</h3>
            <div class='unit spacer'></div>
            <div class='unit'>
              <%= image_tag "linked-in.png" %>
            </div>
            <div class='unit spacer'></div>
          </div>
        </a>
      </div>

      <div class='inner'>
      </div>

      <h1>Looking to Hire?</h1>
      <div class='row'>
        <h1 class="unit arrow accent">
          &rarr;
        </h1>
        <div class='unit spacer'></div>
        <a class='button connect unit accent' href="/auth/new?role=<%= Roles::RECRUITER %>">
          <div class='block content'>
            <div class='unit spacer'></div>
            <h3 class='unit text'>Connect</h3>
            <div class='unit spacer'></div>
            <div class='unit'>
              <%= image_tag "linked-in.png" %>
            </div>
            <div class='unit spacer'></div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>
