$sans-serif-main: "Trebuchet MS", Trebuchet, Tahoma, Geneva, sans-serif;
/*$serif-main:      "Port Lligat Slab", Rockwell, "Lucida Sans Typewriter", serif;*/

$headline-font: "Raleway", "Century Gothic", "Gill Sans", Tahoma, Verdana, sans-serif;
$headline-2-font: $sans-serif-main;
$body-font: $sans-serif-main;
$button-font: $sans-serif-main;
